<?xml version="1.0"?>
<config>
    <modules>
        <Hp_Checkout>
            <version>1.0.0</version>
        </Hp_Checkout>
    </modules>
    <global>
        <blocks>
            <hp_checkout>
                <class>Hp_Checkout_Block</class>
            </hp_checkout>
        </blocks>
        <models>
            <hp_checkout>
                <class>Hp_Checkout_Model</class>
            </hp_checkout>
        </models>
        <resources>
            <hpcheckout_setup>
                <setup>
                    <module>Hp_Checkout</module>
                    <class>Hp_Checkout_Model_Resource_Setup</class>
                </setup>
            </hpcheckout_setup>
        </resources>
        <events>
            <controller_action_predispatch_checkout_onepage_saveBilling>
                <observers>
                    <hp_checkout_set_rewards>
                        <type>singleton</type>
                        <class>hp_checkout/observer</class>
                        <method>setRewardsCode</method>
                    </hp_checkout_set_rewards>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveBilling>
            <sales_order_place_after>
                <observers>
                    <hp_checkout_save_rewards>
                        <class>hp_checkout/observer</class>
                        <method>saveRewardsCode</method>
                    </hp_checkout_save_rewards>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
</config>
