<?xml version="1.0"?>
<config>
    <modules>
        <Hp_Customer>
            <version>1.0.0</version>
        </Hp_Customer>
    </modules>
    <global>
        <models>
            <hp_customer>
                <class>Hp_Customer_Model</class>
            </hp_customer>
        </models>
        <helpers>
            <hp_customer>
                <class>Hp_Customer_Helper</class>
            </hp_customer>
        </helpers>
    </global>
    <frontend>
        <events>
            <customer_login>
                <observers>
                    <hp_customer_login>
                        <type>model</type>
                        <class>hp_customer/observer</class>
                        <method>customerLogin</method>
                    </hp_customer_login>
                </observers>
            </customer_login>
        </events>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <hp_customer_options>
                                            <title>Harris Partners Module Section</title>
                                        </hp_customer_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <hp_customer_options>
            <abandoned_cart_group>
                <enabled>1</enabled>
            </abandoned_cart_group>
        </hp_customer_options>
    </default>
</config>